<md-card>
  <form
    [formGroup]="memoForm"
    (ngSubmit)="emitCreatedBook()">
    <md-list>
      <md-list-item>
  <md-input-container>
    <input
      mdInput
      formControlName="title"
      type="text"
      placeholder="title">
  </md-input-container>
      </md-list-item>
      <md-list-item>
  <md-input-container>
    <input
      mdInput
      formControlName="text"
      type="text"
      placeholder="text">
    </md-input-container>
      </md-list-item>
    </md-list>
    <button md-button>Speichern</button>
    </form>

</md-card>
