<h2>Edit</h2>
<form novalidate [formGroup]="memoForm" (ngSubmit)="save(form)" #form="ngForm">

  <md-input-container>
    <input
      mdInput
      formControlName="title"
      type="text"
      placeholder="title"
      (focus)="setFocus(true)">
    <md-error *ngIf="memoForm.controls.title.hasError('required')">
      Title is <strong>required</strong>
    </md-error>
    <md-error *ngIf="memoForm.controls.title.hasError('minlength')">
      Title needs at least <strong>{{ memoForm.controls.title.errors.minlength.requiredLength }}</strong> characters
    </md-error>
  </md-input-container>
  <md-input-container>
    <textarea
      mdInput
      formControlName="text"
      type="text"
      placeholder="text">
  </textarea>
  </md-input-container>
  <div formArrayName="todos">
    <div *ngFor="let todo of memoForm.controls.todos.controls; let i = index">
      <div [formGroupName]="i">
        <md-input-container>
          <md-checkbox
            #done
            formControlName="checked"
            mdPrefix>
          </md-checkbox>
          <input
            mdInput
            [class.scoredout]=done.checked
            formControlName="task"
            type="text"
            placeholder="...todo">
          <button
            mdSuffix
            md-icon-button type="button"
            (click)="removeTodo(i)">
            x
          </button>
          <md-error *ngIf="memoForm.controls.todos.controls[i].controls.task.hasError('required')">
              Empty tasks are not allowed
            </md-error>
        </md-input-container>
      </div>
    </div>
    <button type="button" md-mini-fab (click)="addTodo()">+</button>
  </div>
  <button md-button (click)="save()" [routerLink]="['/pinboard']" [disabled]="memoForm.invalid">Speichern</button>
  <button md-button [routerLink]="['/pinboard']">Abbrechen</button>
</form>
